<strong>About</strong>
<p>
  This is a simple phone book web application with CRUD operations using angular, C#, WebApi and Sql Server.
  This app is produced for harbour assist for review in my application to become a junior developer.
  Please note in addition to the requirements, that json-server, and swashbuckle have also been added for the purpose of my internal
  testing, and material.ui (angular) was also used extensively for the front end styling
</p>
<strong>Installation</strong>
<p>
  The application should be self running. The connection string inside the PhoneBookContext class was altered to suit my home config of 
  SSMS, however the original connection string is left in the comments should the reviewer which to easily revert.
</p>
<strong>Learning</strong>
<ul>
  <li>Angular; in application and architecture. Use of CLI and modular approach.</li>
  <li>Typescript; as an extension of javascript and its flaws.</li>
  <li>web development; in general. Learned deeper use of the inspect element, browser console and networking tabs.</li>
  <li>Material.ui ; found a nice, shiny & FREE! styling library.</li>
  <li>npm json-server. Great little tool for putting off back-end development!</li>

</ul>
<strong>My Log</strong>
<ul>
  Pre-project configuration:
  <li>Opened the solution and ran a build.</li>
  <li>Hosted the solution privately in my github.</li>
  <li>Ran phonebook-db.sql on my locally hosted dataserver and reviewed tables.</li>
  <li>did some learning to get some background in angular and typescript</li>
  <li>researched to find a visual library and settled on material.io (which has both react and angular flavours)</li>
  <li>installed node.js</li>
  <li>installed angular cli</li>
  <li>setup powershell to recognise global install of nodejs and angular, with issues, solved by</li>
  <li>1- setting execution policy in powershell `SetExecutionPolicy RemoteSigned`</li>
  <li>2- added environment paths in system Environment Variables^^ to gain access to cli for nodejs and angular</li>
  <li>Congratulated myself for defeating the setup monster.</li>
  <li>Created a task break down.</li>
</ul>
Front-end development:
<ul>
  <li>Imported a set of Angular/Material UI</li>
  <li>Crated the add entry form and UI</li>
  <li>temporarily ran a json-server to test the front end with until I program the controller.</li>
  <li>dealt with some tricky issues regarding triggering automatic refreshing of the dataTable after edits</li>
  <li>front end now working with json-server.</li>
</ul>
  Back-end development:
<ul>
  <li>expanded controllers for the back end of the project</li>
  <li>ASP.net project for reference. Initially confused about the entry point of the app and how to debug</li>
  <li>decided that the best way to familarise myself with project structure was to load a template ASP.net project to review a standard pattern.</li>
  <li>decided to install swagger UI into project as a way to debug the back end independent of possibly issues on the front end (even if was confident of front end).</li>
  <li>found and resolved some dependency issues getting the right packages of swagger/swashbuckle for asp.net , stack overflow had the answer.</li>
  <li>noted a security/permissions error from swagger UI output of testing the back end.</li>
  <li>Attempted to align my SQLSMS permissions & hkeys to allow similar permissions as per default set up. Aborted this. Instead used a connection string from a previous project.</li>
  <li>noted a database permissions issue in the handling of UIDs (unresolved; prevents delete, update functions).</li>
  <li>noted a parsing error that must be fairly common from pushing javascript output into c#- javascript doesn't support ints!</li>
  <li>found and resolved a violation of CORS policy when connecting through chrome.</li>
  <li>found and resolved some inconsistent naming in the project data schema that was partially preventing data from getting from back to front.</li>
</ul>
